<div class="grid">
    <div class="col-12">
        <div class="card">
            <h5 style="color: #005BA8; font-weight: bold;">Editar Gateway</h5>
            <p-toast></p-toast>
            <p-toolbar>
                <div class="p-toolbar-group-left flex flex-wrap">
                    <button pTooltip="Volver" pButton type="button" icon="pi pi-arrow-left"
                        class="p-button-rounded p-button-text p-button-plain mr-2" (click)="onGoBack()"></button>
                </div>
                <div class="p-toolbar-group-right">
                    <button pButton type="button" label="Guardar" class="p-button-success mr-2" icon="pi pi-save"
                        (click)="changeGatewayDialog = true"></button>
                    <button pButton type="button" label="Restablecer" icon="pi pi-refresh" class="p-button-warning mr-2"
                        (click)="onClear()"></button>
                </div>
            </p-toolbar>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="p-fluid p-formgrid grid">
                <div class="field col-12 md:col-4">
                    <label htmlFor="firstname2" class="input-labels">Estado del Gateway</label>
                    <p-dropdown [options]="dropdownItemsState" optionLabel="name" [(ngModel)]="selectedState" placeholder="Seleccione el estado"></p-dropdown>
                </div>
                <div class="field col-12 md:col-4">
                    <label htmlFor="lastname2" class="input-labels">ID Gateway</label>
                    <input pInputText id="serial" type="text" [(ngModel)]="gateway.gwEui"/>
                </div>
                <div class="field col-12 md:col-4">
                    <label htmlFor="name" class="input-labels">Nombre</label>
                    <input pInputText id="name" type="text" [(ngModel)]="gateway.name"/>
                </div>
                <div class="field col-12 md:col-4">
                    <label htmlFor="firstname2" class="input-labels">Empresa</label>
                        <p-dropdown [options]="companies" optionLabel="name" [(ngModel)]="selectedCompany" placeholder="Seleccione una empresa"></p-dropdown>
                </div>
                <div class="filed col-12 md:col-4">
                    <label htmlFor="lastname2" class="input-labels">Comunicacion</label>
                    <div class="grid formgrid">
                        <div class="col-12 md:col-4">
                            <div class="field-checkbox">
                                <p-checkbox name="group1" value="LoRaWAN" [(ngModel)]="valCheck" id="LoRaWAN"></p-checkbox>
                                <label for="lora">LoRaWAN</label>
                            </div>
                        </div>
                        <div class="col-12 md:col-4">
                            <div class="field-checkbox">
                                <p-checkbox name="group1" value="Mbus" [(ngModel)]="valCheck" id="mbus"></p-checkbox>
                                <label for="la">Mbus</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field col-12 grid">
                    <div class="md:col-6">
                        <div class="field">
                            <label for="countrySelect" class="input-labels">País</label>
                            <p-dropdown [options]="countries" optionLabel="countryName" [(ngModel)]="selectedCountry"
                                (onChange)="onCountryChange($event.value)" id="countrySelect" placeholder="Seleccione un pais"></p-dropdown>
                        </div>
                        <div class="field">
                            <label for="provinceSelect" class="input-labels">Provincia</label>
                            <p-dropdown [options]="provinces" optionLabel="name" [(ngModel)]="selectedProvince"
                                (onChange)="onProvinceChange($event.value)" id="provinceSelect" placeholder="Seleccione una provincia"></p-dropdown>
                        </div>
                        <div class="field">
                            <label for="citySelect" class="input-labels">Ciudad</label>
                            <p-dropdown [options]="cities" optionLabel="name" [(ngModel)]="selectedCity"
                                (onChange)="onCityChange($event.value)" id="citySelect" placeholder="Seleccione una ciudad"></p-dropdown>
                        </div>
                        <div class="field">
                            <label for="latInput" class="input-labels">Latitud</label>
                            <input pInputText id="latInput" type="text" [(ngModel)]="lat" (input)="onLatLngChange()" />
                        </div>
                        <div class="field">
                            <label for="lngInput" class="input-labels">Longitud</label>
                            <input pInputText id="lngInput" type="text" [(ngModel)]="lng" (input)="onLatLngChange()" />
                        </div>
                    </div>
                    <div class="md:col-6"
                        style="display: flex; flex-direction: column; justify-content: center;">
                        <google-map height="auto" width="w-full" [options]="options" id="map"> </google-map>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12" *ngIf="valCheck.includes('LoRaWAN')">
        <div class="card">
            <div class="p-fluid p-formgrid grid">
                <div class="field col-12 md:col-4">
                    <label htmlFor="lastname2" class="input-labels">Tipo de Gateway</label>
                    <p-dropdown [options]="dropdownItemsTypeGateway" optionLabel="name" [(ngModel)]="selectedGatewayType"
                        id="typeGateway" placeholder="Seleccione el gateway"></p-dropdown>
                </div>
                <div class="field col-12 md:col-2">
                    <h6 class="input-labels" style="color: rgb(81, 80, 80);">Clase B</h6>
                    <p-inputSwitch [(ngModel)]="valClass"></p-inputSwitch>
                </div>
                <div class="field col-12 md:col-2">
                    <h6 class="input-labels" style="color: rgb(81, 80, 80);">PKTFWD</h6>
                    <p-inputSwitch [(ngModel)]="valPKTFWD"></p-inputSwitch>
                </div>
                <div class="field col-12 md:col-4">
                    <label htmlFor="lastname2" class="input-labels">Region</label>
                    <p-dropdown [options]="dropdownItemsRegion" optionLabel="name" [(ngModel)]="selectedRegion"
                        id="countrySelect" placeholder="Seleccione una region"></p-dropdown>
                </div>
                <div class="field col-12 md:col-4">
                    <label htmlFor="subRed" class="input-labels">Subred</label>
                    <p-dropdown [options]="dropdownItemsSubred" optionLabel="name" [(ngModel)]="selectedSubRed"
                        id="subRedSelect" placeholder="Seleccione una sub red"></p-dropdown>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12" *ngIf="valCheck.includes('Mbus')">
        <div class="card">
            <div class="p-fluid p-formgrid grid">
                <div class="field col-12 md:col-4">
                    <label htmlFor="mac" class="input-labels">Dirección MAC</label>
                    <input pInputText id="mac" type="text" [(ngModel)]="gateway.macDirection"/>
                </div>
            </div>
        </div>
    </div>
    <p-dialog [(visible)]="changeGatewayDialog" header="Confirmar" [modal]="true" [style]="{width:'450px'}">
        <div class="flex align-items-center justify-content-center">
            <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
            <span>¿Está seguro de que desea modificar este Gateway?</span>
        </div>
        <ng-template pTemplate="footer">
            <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                (click)="changeGatewayDialog = false"></button>
            <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Sí"
                (click)="onSave()"></button>
        </ng-template>
    </p-dialog>
</div>