<div class="grid">
    <p-tabView orientation="left" class="col-12">
        <div class="col-12">
            <p-toast></p-toast>
            <p-toolbar>
                <div class="p-toolbar-group-left flex flex-wrap">
                    <button pTooltip="Volver" pButton type="button" icon="pi pi-angle-left"
                        class="p-button-rounded p-button-text p-button-plain mr-2" (click)="onGoBack()"></button>
                </div>
                <ng-template pTemplate="right">
                    <button pButton pRipple type="button" label="Editar" icon="pi pi-save" class="mr-2 p-button-warning"
                        (click)="openEdit(meter)"></button>
                </ng-template>
            </p-toolbar>
        </div>
        <p-tabPanel header="Detalles del Medidor" class="line-height-3 m-0">
            <ng-template pTemplate="content">
                <div class="col-12">
                    <div class="card">
                        <h5 style="color: #005BA8; font-weight: bold;">Detalles del Medidor</h5>
                        <div class="p-fluid p-formgrid grid">
                            <div class="field col-12 md:col-4">
                                <label htmlFor="firstname2" class="input-labels">Estado del Medior</label>
                                <input pInputText id="state" type="text"
                                    [value]="selectedState?.code ? 'Activo' : 'Inactivo'" placeholder="Estado"
                                    readonly />
                            </div>
                            <div class="field col-12 md:col-4">
                                <label htmlFor="name" class="input-labels">Nombre</label>
                                <input pInputText id="name" type="text" [(ngModel)]="meter.name"
                                    placeholder="Nombre del Medidor" readonly />
                            </div>
                            <div class="field col-12 md:col-4">
                                <label htmlFor="name" class="input-labels">Diámetro</label>
                                <input pInputText id="diameter" type="text" [(ngModel)]="meter.diameter"
                                    placeholder="Diámetro del Medidor" readonly />
                            </div>
                            <div class="field col-12 md:col-4">
                                <label htmlFor="firstname2" class="input-labels">Modelo del Medidor</label>
                                <input pInputText id="type_meter" type="text" [(ngModel)]="meter.model"
                                    placeholder="Modelo de Medidor" readonly />
                            </div>
                            <div class="field col-12 md:col-4">
                                <label htmlFor="company" class="input-labels">Empresa</label>
                                <input pInputText id="company" type="text" [value]="selectedCompany?.name"
                                    placeholder="Nombre de la Empresa" readonly />
                            </div>
                            <div class="field col-12 md:col-4">
                                <label htmlFor="devEui" class="input-labels">Dev EUI</label>
                                <input pInputText id="devEui" type="text" [(ngModel)]="meter.devEui"
                                    placeholder="Dev EUI del medidor" readonly />
                            </div>
                            <div class="field col-12 md:col-4">
                                <label htmlFor="detail" class="input-labels">Detalle</label>
                                <input pInputText id="detail" type="text" [(ngModel)]="meter.detail"
                                    placeholder="Detalle del medidor" readonly />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="card">
                        <h5 style="color: #005BA8; font-weight: bold;">Ubicación del Medidor</h5>
                        <div class="p-fluid p-formgrid grid">
                            <div class="field col-12 md:col-6">
                                <div class="p-fluid p-formgrid grid">
                                    <div class="field md:col-6">
                                        <label for="lngInput" class="input-labels">Latitud</label>
                                        <input pInputText id="latInput" type="text" [(ngModel)]="lat" readonly />
                                    </div>
                                    <div class="field md:col-6">
                                        <label for="lngInput" class="input-labels">Longitud</label>
                                        <input pInputText id="lngInput" type="text" [(ngModel)]="lng" readonly />
                                    </div>
                                    <div class="field col-12 md:col-12">
                                        <google-map width="100%" height="100%" [center]="center" [zoom]="zoom"
                                            [options]="mapOptions">
                                            <map-marker [position]="{ lat: lat, lng: lng }" [title]="meter.name">
                                            </map-marker>
                                        </google-map>
                                    </div>
                                </div>
                            </div>
                            <div class="field col-12 md:col-6"
                                style="display: flex;flex-direction: column; justify-content: center; align-items: center;">
                                <div class="p-fluid">
                                    <div class="field">
                                        <p-button label="Solicitar número de Serie" icon="pi pi-users"
                                            badgeClass="p-badge-contrast" outlined="true"
                                            (click)="sendDownlinkMessage('serial_number')" />
                                    </div>
                                    <div class="field">
                                        <p-button label="Solicitar lectura de consumo" icon="pi pi-users"
                                            badgeClass="p-badge-contrast" outlined="true"
                                            (click)="sendDownlinkMessage('totalizer')" />
                                    </div>
                                    <div *ngIf="meter.model === 'B97 VPW'" class="field">
                                        <label htmlFor="company" class="input-labels">Válvula de Corte</label>
                                        <input type="text" pInputText [(ngModel)]="stateValve" class="w-full mb-3"
                                            readonly />

                                        <div class="flex justify-between w-full" style="align-items: center;">
                                            <span style="margin-right: 10px;">Cerrado</span>
                                            <p-slider [(ngModel)]="stateValve" class="w-full" [min]="0" [max]="100"
                                                (onSlideEnd)="adjustSliderValue($event)"></p-slider>
                                            <span style="margin-left: 10px;">Abierto</span>
                                        </div>
                                    </div>
                                    <div *ngIf="meter.model === 'B97 VPW'" class="field">
                                        <p-button label="Solicitar corte de válvula" icon="pi pi-users"
                                            badgeClass="p-badge-contrast" outlined="true"
                                            (click)="sendDownlinkMessage('valve')" />
                                    </div>
                                    <div class="field">
                                        <label htmlFor="lastCommunication" class="input-labels">Última
                                            comunicación</label>
                                        <input pInputText id="lastCommunication" type="text"
                                            [(ngModel)]="meter.lastCommunication"
                                            placeholder="Fecha de la última comunicación" readonly />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="card">
                        <h5 style="color: #005BA8; font-weight: bold;">Tipo de Comunicación del Medidor</h5>
                        <div class="p-fluid p-formgrid grid">
                            <div class="field col-12 md:col-4">
                                <label htmlFor="lastname2" class="input-labels">Comunicación</label>
                                <div class="grid formgrid">
                                    <div class="col-12 md:col-4">
                                        <div class="field-checkbox">
                                            <p-checkbox name="group1" value="LoRaWAN" [(ngModel)]="comunicationCheck"
                                                id="lora" [disabled]="true"></p-checkbox>
                                            <label for="lora">LoRaWAN</label>
                                        </div>
                                    </div>
                                    <div class="col-12 md:col-4">
                                        <div class="field-checkbox">
                                            <p-checkbox name="group1" value="GPRS" [(ngModel)]="comunicationCheck"
                                                id="gprs" [disabled]="true"></p-checkbox>
                                            <label for="gprs">GPRS</label>
                                        </div>
                                    </div>
                                    <div class="col-12 md:col-4">
                                        <div class="field-checkbox">
                                            <p-checkbox name="group1" value="NB-IoT" [(ngModel)]="comunicationCheck"
                                                id="nb" [disabled]="true"></p-checkbox>
                                            <label for="nb">NB-IoT</label>
                                        </div>
                                    </div>
                                    <div class="col-12 md:col-4">
                                        <div class="field-checkbox">
                                            <p-checkbox name="group1" value="Mbus" [(ngModel)]="comunicationCheck"
                                                id="mbus" [disabled]="true"></p-checkbox>
                                            <label for="mbus">Mbus</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="field col-12 md:col-4" *ngIf="comunicationCheck.includes('LoRaWAN')">
                                <label htmlFor="firstname2" class="input-labels">Clase de apoyo</label>
                                <div class="grid formgrid">
                                    <div class="col-12 md:col-4">
                                        <div class="field-radiobutton">
                                            <p-radioButton name="class" value="A" [(ngModel)]="valClassSupport"
                                                id="classA" [disabled]="true"></p-radioButton>
                                            <label for="classA">Clase A</label>
                                        </div>
                                    </div>
                                    <div class="col-12 md:col-4">
                                        <div class="field-radiobutton">
                                            <p-radioButton name="class" value="B" [(ngModel)]="valClassSupport"
                                                id="classB" [disabled]="true"></p-radioButton>
                                            <label for="classB">Clase B</label>
                                        </div>
                                    </div>
                                    <div class="col-12 md:col-4">
                                        <div class="field-radiobutton">
                                            <p-radioButton name="class" value="C" [(ngModel)]="valClassSupport"
                                                id="classC" [disabled]="true"></p-radioButton>
                                            <label for="classC">Clase C</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="field col-12 md:col-4" *ngIf="comunicationCheck.includes('LoRaWAN')">
                                <label htmlFor="region" class="input-labels">Region</label>
                                <input pInputText id="region" type="text" [(ngModel)]="selectedRegion.name"
                                    placeholder="Region" readonly />
                            </div>
                            <div class="field col-12 md:col-4" *ngIf="comunicationCheck.includes('LoRaWAN')">
                                <label htmlFor="typeProduct" class="input-labels">Tipo de Producto</label>
                                <input pInputText id="typeProduct" type="text" [(ngModel)]="selectedTypeProduct.name"
                                    placeholder="Tipo de Producto" readonly />
                            </div>
                            <div class="field col-12 md:col-4" *ngIf="comunicationCheck.includes('LoRaWAN')">
                                <label htmlFor="subred" class="input-labels">Subred</label>
                                <input pInputText id="subRed" type="text" [(ngModel)]="selectedSubRed.name"
                                    placeholder="Sub Red" readonly />
                            </div>
                            <div class="field col-12 md:col-4" *ngIf="comunicationCheck.includes('LoRaWAN')">
                                <label htmlFor="firstname2" class="input-labels">Tipo de autenticación</label>
                                <div class="grid formgrid">
                                    <div class="col-12 md:col-4">
                                        <div class="field-radiobutton">
                                            <p-radioButton name="typeAutentification" value="OTA"
                                                [(ngModel)]="typeAutentification" id="typeAutentification1"
                                                [disabled]="true"></p-radioButton>
                                            <label for="typeAutentification1">OTA</label>
                                        </div>
                                    </div>
                                    <div class="col-12 md:col-4">
                                        <div class="field-radiobutton">
                                            <p-radioButton name="typeAutentification" value="ABP"
                                                [(ngModel)]="typeAutentification" id="typeAutentification2"
                                                [disabled]="true"></p-radioButton>
                                            <label for="typeAutentification2">ABP</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="field col-12 md:col-4" *ngIf="typeAutentification.includes('OTA')">
                                <label htmlFor="lastname2" class="input-labels">App Key</label>
                                <input pInputText id="appKey" type="text" [(ngModel)]="meter.appKey" placeholder="Key"
                                    readonly />
                            </div>
                            <div class="field col-12 md:col-4" *ngIf="typeAutentification.includes('ABP')">
                                <label htmlFor="devAddr" class="input-labels">DevAddr</label>
                                <input pInputText id="devAddr" type="text" [(ngModel)]="meter.devAddr"
                                    placeholder="Dev Addr" readonly />
                            </div>
                            <div class="field col-12 md:col-4" *ngIf="typeAutentification.includes('ABP')">
                                <label htmlFor="app" class="input-labels">App SKey</label>
                                <input pInputText id="appKey" type="text" [(ngModel)]="meter.appSkey"
                                    placeholder="SKey" readonly />
                            </div>
                            <div class="field col-12 md:col-4" *ngIf="typeAutentification.includes('ABP')">
                                <label htmlFor="lastname2" class="input-labels">Nwk SKey</label>
                                <input pInputText id="appKey" type="text" [(ngModel)]="meter.nwkSkey"
                                    placeholder="NWK Key" readonly />
                            </div>
                            <div class="field col-12 md:col-4" *ngIf="comunicationCheck.includes('GPRS')">
                                <label htmlFor="serial" class="input-labels">Número de serie</label>
                                <input pInputText id="serial" type="text" [(ngModel)]="meter.serial"
                                    placeholder="Numero de serie" readonly />
                            </div>
                            <div class="field col-12 md:col-4" *ngIf="comunicationCheck.includes('GPRS')">
                                <label htmlFor="directionGprs" class="input-labels">Dirección de la placa GPRS</label>
                                <input pInputText id="directionGprs" type="text" [(ngModel)]="meter.directionGprs"
                                    placeholder="Direccion GPRS" readonly />
                            </div>
                            <div class="field col-12 md:col-4" *ngIf="comunicationCheck.includes('NB-IoT')">
                                <label htmlFor="imei" class="input-labels">IMEI</label>
                                <input pInputText id="imei" type="text" [(ngModel)]="meter.imei" placeholder="IMEI"
                                    readonly />
                            </div>
                            <div class="field col-12 md:col-4" *ngIf="comunicationCheck.includes('Mbus')">
                                <label htmlFor="gateway" class="input-labels">Gateway</label>
                                <input pInputText id="gateway" type="text" placeholder="Nombre del Gateway"
                                    [value]="selectedGateway?.name" readonly />
                            </div>
                            <div class="field col-12 md:col-4" *ngIf="comunicationCheck.includes('Mbus')">
                                <label htmlFor="serialNumberGprs" class="input-labels">Número de serie</label>
                                <input pInputText id="serialNumberGprs" type="text" [(ngModel)]="meter.serialNumberGprs"
                                    placeholder="Numero de serie" readonly />
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-tabPanel>
        <p-tabPanel header="Informe de Consumo" class="line-height-3 m-0">
            <ng-template pTemplate="content">
                <div class="col-12">
                    <div class="card">
                        <div class="p-fluid p-formgrid grid">
                            <div class="field col-12 md:col-4">
                                <h5 style="color: #005BA8; font-weight: bold;">Curva de Consumo</h5>
                            </div>
                            <div class="field col-12 md:col-6">

                            </div>
                            <div class="field col-12 md:col-2">
                                <button pButton pRipple label="Exportar" icon="pi pi-upload"
                                    class="mr-2 p-button-secondary" (click)="exportToCSV()"></button>
                            </div>
                        </div>
                        <div class="p-fluid p-formgrid grid">
                            <div class="field col-12 md:col-4">
                                <label for="startDate">Fecha de Inicio:</label>
                                <p-calendar id="startDate" [(ngModel)]="startDate" dateFormat="yy-mm-dd"
                                    (ngModelChange)="updateChart()" placeholder="Seleccione una fecha de inicio"
                                    [maxDate]="endDate" [showButtonBar]="true">
                                </p-calendar>
                            </div>
                            <div class="field col-12 md:col-4">
                                <label for="endDate">Fecha de Fin:</label>
                                <p-calendar id="endDate" [(ngModel)]="endDate" dateFormat="yy-mm-dd"
                                    (ngModelChange)="updateChart()" placeholder="Seleccione una fecha de fin"
                                    [minDate]="startDate" [showButtonBar]="true">
                                </p-calendar>
                            </div>
                            <div class="field col-12 md:col-4">
                                <label for="interval">Mostrar por: </label>
                                <p-dropdown id="interval" [(ngModel)]="interval" [options]="intervalOptions"
                                    optionLabel="label" (onChange)="updateChart()"
                                    placeholder="Seleccione un Intervalo">
                                </p-dropdown>
                            </div>
                            <div class="field col-12 md:col-12">
                                <p-chart type="line" [data]="chartData" [options]="chartOptions"></p-chart>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-tabPanel>
        <p-tabPanel header="Mensajes de Medidor" class="line-height-3 m-0">
            <div class="grid">
                <div class="col-12">
                    <div class="card">
                        <p-table #dt [value]="messages" [columns]="cols" responsiveLayout="scroll" [rows]="10"
                            [globalFilterFields]="['uniqueKey']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]"
                            [showCurrentPageReport]="true"
                            currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} entradas"
                            [rowHover]="true" dataKey="uniqueKey">
                            <ng-template pTemplate="caption">
                                <div
                                    class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                                    <span class="block mt-2 md:mt-0 p-input-icon-left">
                                        <i class="pi pi-search"></i>
                                        <input pInputText type="text" (input)="onGlobalFilter(dt, $event)"
                                            placeholder="Buscar..." class="w-full sm:w-auto" />
                                    </span>
                                </div>
                            </ng-template>

                            <ng-template pTemplate="header">
                                <tr>
                                    <th pSortableColumn="uniqueKey" scope="col">Código <p-sortIcon
                                            field="uniqueKey"></p-sortIcon></th>
                                    <th pSortableColumn="typeMessage" scope="col">Tipo de Mensaje <p-sortIcon
                                            field="typeMessage"></p-sortIcon></th>
                                    <th scope="col">Fecha y Hora</th>
                                    <th pSortableColumn="volume_data" scope="col">Cantidad de Consumo<p-sortIcon
                                            field="volume_data"></p-sortIcon></th>
                                    <th scope="col"></th>
                                </tr>
                            </ng-template>

                            <ng-template pTemplate="body" let-message>
                                <tr>
                                    <td class="p-column">
                                        <span class="p-column-title">Código</span>
                                        {{message.uniqueKey}}
                                    </td>
                                    <td class="p-column">
                                        <span class="p-column-title">Tipo de mensaje</span>
                                        {{message.typeMessage}}
                                    </td>
                                    <td class="p-column">
                                        <span class="p-column-title">Fecha y Hora</span>
                                        {{message.createdAt}}
                                    </td>
                                    <td style="width:14%; min-width:10rem;">
                                        <span class="p-column-title">Cantidad de Consumo</span>
                                        {{message.volume_data}}
                                    </td>
                                    <td>
                                        <div class="flex">
                                            <button pButton pRipple type="button" icon="pi pi-file-o"
                                                class="p-button-rounded p-button-text"
                                                (click)="openDetailMessage(message)"></button>
                                        </div>
                                    </td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="emptymessage">
                                <tr>
                                    <td colspan="8"
                                        style="text-align: center; font-weight: bold; font-size: 1.2em; padding: 20px;">
                                        Mensajes no encontrados.</td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="loadingbody">
                                <tr>
                                    <td colspan="8">Cargando los mensajes. Por favor espere.</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>
        </p-tabPanel>
    </p-tabView>
</div>